<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magicshroom.bishe.mapper.UserMapper">
    <insert id="insertUser">
        insert into user(user_id,phone,password) values (null, #{phone},#{password} )
    </insert>

    <select id="getUserByPhone" resultType="com.magicshroom.bishe.bean.User">
        select * from user where phone = #{phone}
    </select>
</mapper>
